* { margin : 0;
    padding : 0;
    outline : none;
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
    cursor: url("../img/cursor.cur"), default;
  }

body {  -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
         user-select: none;
         width: 100%;
         height: 100%;
         cursor: url("../img/cursor.cur"), default;
        background-color: black;
        background-size: cover;
        font-family: 'FSEX300';
        font-size: 25px;
       
        text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  }

@font-face {	font-family: FSEX300;
				      src: url(FSEX300.ttf);
	}

#menuImage{
  position: absolute;
  background-image: url('../img/menuimage.jpg') ;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}  

.changestyle{
  color: #00d057;
  position: absolute;
  right: 5px;
  text-align: right;
}

#menu { text-align: center;        
        display: flex;
        text-align: left;
        width: auto;
        color: #00d057;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10vh 4vh 10vh  4vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 2px black;
  }

.menuclick { padding: 20px;
            vertical-align: middle;
            text-align: center;
            border: solid 2px black;
            background-color: rgba(255,255,255,0.6);
  }

.menuH { display: none;
  }

ul { padding-left: 20px;
  }

ul li{  text-align: center;
        list-style: none;
        padding: 10px;  
        background-color: rgba(255,255,255,0.6);
        border: solid 2px black;
        border-bottom: 0;
  }

ul li:hover, .menuclick:hover {  color: white ;
                                background-color: #00d057;
  }

a { text-decoration: none;
    color:inherit;
  }


table { text-align: center;        
        display: flex;
        text-align: left;
        width: auto;
        color: #00d057;
        background-color: white;
        padding: 8vh 4vh 8vh  4vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
  }

th {  text-align: center;
  }

td {  text-align: center;
      padding:0 15px 0 15px;
  }

input[type=checkbox] + label {  display: block;
                                margin: 0.2em;
                                padding: 0.2em;
  }

input[type=checkbox] {  display: none;
  }

input[type=checkbox] + label:before { content: "";
                                      border: 2px solid black;
                                      border-radius: 0.2em;
                                      display: inline-block;
                                      width: 1em;
                                      height: 1em;
                                      padding-left: 0.2em;
                                      padding-bottom: 0.3em;
                                      margin-right: 0.2em;
                                      vertical-align: bottom;
                                      color: transparent;
                                      transition: .2s;
  }

input[type=checkbox] + label:active:before {  transform: scale(0);
  }

input[type=checkbox]:checked + label:before { background-color: #00d057;
                                              color: #fff;
                                              content: "\2714";
                                              border: solid 2px black;
                                              text-align: center;
  }

input[type=checkbox]:disabled + label:before {  transform: scale(1);
                                                border-color: #aaa;
  }

input[type=checkbox]:checked:disabled + label:before {  transform: scale(1);
                                                        background-color: #bfb;
                                                        border-color: #bfb;
  }

.rankDiv table {  text-align: center;        
                      display: table;
                      text-align: left;
                      width: auto;
                      color: #00d057;
                      background-color: rgba(255, 255, 255, 0.3);
                      padding: 10vh 4vh 10vh  4vh;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      padding: 20px;
                      transform: translate(-50%, -50%);
                      border: solid 2px black;

}

.rankDiv tr:nth-child(1) {  background-color: rgba(0, 0, 0, 0.7);
  }

.rankDiv th { padding: 10px;
  }



.myButton { display: flex;
            position: fixed;
            bottom: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow:inset 0px 0px 0px 0px #caefab;
            background-image: url("../img/back.gif");
            background-size: cover;
            border-radius: 15px;
            border: 2px solid white;
            display: inline-block;
            color: #00d057;
            font-size: 24px;
            padding: 15px 40px;
            text-decoration:none;
            text-shadow:0px 1px 0px #aade7c;
  }

.myButton:hover { opacity: 0.8;
  }
