* {
  margin : 0;
  padding : 0;
  outline : none;
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
}

body {
  -webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
           user-select: none;
           
}

@font-face {	font-family: FSEX300;
				src: url(FSEX300.ttf);
	}


body { 
      background: url(../img/menuimage.jpg) no-repeat center fixed;
      background-color: black;
      background-size: cover;
      font-family: 'FSEX300';
      font-size: 25px;

  }

#menu{       
  text-align: center;        
  display: flex;
  text-align: left;
  width: auto;
  color: #00d057;
  background-color: white;
  padding: 10vh 4vh 10vh  4vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

#menuclick{
  padding: 5px;
  vertical-align: middle;
}

.menuH{
  display: none;
}
ul{
  padding-left: 20px;
}
ul li{
  text-align: center;
  list-style: none;
  padding: 10px;  
  background-color: white;
}
ul li:hover, .menuclick:hover{
  color: white ;
  background-color: #00d057;
}


a{
  text-decoration: none;
  color:inherit;
  }





table{
  text-align: center;        
  display: flex;
  text-align: left;
  width: auto;
  color: #00d057;
  background-color: white;
  padding: 8vh 4vh 8vh  4vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

th{
  text-align: center;
  text-decoration: underline;
}
td {
  text-align: center;
   padding:0 15px 0 15px;
}