@font-face {	font-family: FSEX300;
				src: url(FSEX300.ttf);
	}

html {	background: url(screenGif.gif) no-repeat center center fixed;
  		background-color: black;
  		background-size: cover;
  		font-family: 'FSEX300';
  		font-size: 1.5vw;
  		overflow: hidden;
	}

body {	visibility: hidden;
	}

#generalContainer {	width: 45vw;
					height: 50vh;
					padding: 30px;				
					margin: auto;
					margin-top: 10vh;
	}

#attemptCounter {	color: #00d057;
					margin: auto;
					position: relative;
					font-size: 2vw;
	}

#attemptCounter > .attemptDiv {	height: 2vw;
								width: 2vw;
								background-color: #00d057;
								display: inline-block;
								font-size: 2.5vw;
								vertical-align: bottom;
	}

#contentDiv {	position: relative;
				border-radius: 100px / 50px;
				color: #00d057;
				text-align: justify;
				margin: auto;
				display: flex;
				margin-top: 2vh;
	}

.thinColumn{	width: 5vw;
				margin-left: 1vw;
				text-align: left;
				display: table-column;
	}

.thickColumn {	width: 12vw;
				margin-left: 5px;
				text-align: justify;
				letter-spacing: 1px;
				display: inline-block;
	}

#rightCheckCol {	width: 12vw;
					text-align: left;
					position: relative;

	}
#rightCheckColScrollUp{	bottom: 25px;
						position: absolute;
	}

#rightCheckColText{	vertical-align: text-bottom;
					width: 15vw;
	}

#rightCheckCol #promptWrite {	vertical-align: text-bottom;
	}

.terminalWords:hover {	background-color: #00d057;
						color: black;
						cursor: default;
	}

@media only screen and (max-width: 600px) {
	#generalContainer {	font-size: 1.5vw;
		}
	}