/*Reset CSS*/

* {
  margin : 0;
  padding : 0;
  outline : none;
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
}

body {
  -webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
           user-select: none;
           visibility: hidden;
}

@font-face {	font-family: FSEX300;
				src: url(FSEX300.ttf);
	}

html {	background: url(screenGif.gif) no-repeat center fixed;
  		background-color: black;
  		background-size: cover;
  		font-family: 'FSEX300';
  		font-size: 1.5vw;
  		overflow: hidden;
	}

#gameTimer {	height: auto;
				width: 5vw;
				background-color: black;
				border: 3px solid #00d057;
				color: #00d057;
				position: absolute;
				z-index: 40;
				padding: 1vw;
				font-size: 2vw;
				margin: 1vw;
				text-align: center;	
				border-radius: 100px / 50px; 
	}

#gameTimer:hover {	filter: opacity(.7);
	}

#generalContainer {	
					position: absolute;
					width: 45%;
					height: 50%;
					padding: 30px;
					z-index: 35;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;			
					margin: auto;
					margin-top: 15vh;
	}


#attemptCounter {	color: #00d057;
					margin: auto;
					position: relative;
					font-size: 2vw;
	}

#attemptCounter > .attemptDiv {	height: 2vw;
								width: 2vw;
								background-color: #00d057;
								display: inline-block;
								font-size: 2.5vw;
								vertical-align: bottom;
	}

#contentDiv {	position: relative;
				border-radius: 100px / 50px;
				color: #00d057;
				text-align: justify;
				margin: auto;
				display: flex;
				margin-top: 2vh;
	}

.thinColumn{	
				width: 5vw;
				margin-left: 1vw;
				text-align: left;
				display: table-column;
	}

.thickColumn {	width: 12vw;
				margin-left: 5px;
				text-align: justify;
				letter-spacing: 1px;
				display: inline-block;
	}

#rightCheckCol {	width: 12vw;
					text-align: left;
					position: relative;

	}
#rightCheckColScrollUp{	bottom: 25px;
						position: absolute;
	}

#rightCheckColText{	vertical-align: text-bottom;
					width: 15vw;
	}

#rightCheckCol #promptWrite {	vertical-align: text-bottom;
	}

#promptWrite > b {
  animation: blink-animation 0.5s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.terminalWords:hover {	background-color: #00d057;
						color: black;
						cursor: default;
	}

@media only screen and (max-width: 600px) {
	#generalContainer {	
		font-size: 1.5vw;
		
		}
		
}


#TerminalImage{
	position: absolute;
	background-image: url(StaticPage.png) ;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#endImg {	transition: transform 5.2s;
			width: 25vw;
			height: auto;
			margin: auto;
			overflow: hidden;
			background: none;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
}